{% extends "base.html" %}
{% block content %}
    


<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h1>This is the details of {{ form.first_name }}{{ form.last_name }}</h1>
        <p class="card-text"> Please contact me on this address: {{form.email}}.</p>
        <p class="card-text"> My reason why contact is: {{form.reason}}.</p>
        <p class="card-text"> Please read my note for you: <br> {{form.body}}.</p>
        <a href={% url 'webapp:contact_delete' form.pk %} class="btn btn-primary">Delete</a>
        {% if form.my_response == False %}
          <a href={% url 'webapp:my_response' form.pk %} class="btn btn-warning">You must response to {{ form.first_name }} </a>
        {% else %}
          <a href={% url '#' form.pk %} class="btn btn-success">You Contact {{ form.first_name }} </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}