{% extends "base.html" %}
{% block content %}
<form method="post">
  {% csrf_token %}
  <div class="form-floating mb-3">
    {{ form.first_name }}
    <label for="first_name">First Name</label>
  </div>
  <div class="form-floating mb-3">
    {{ form.last_name }}
    <label for="last_name">Last Name</label>
  </div>
  <div class="form-floating mb-3">
    {{ form.email }}
    <label for="email">Email address</label>
  </div>
  <div class="form-floating mb-3">
    {{ form.reason }}
    <label for="reason">Reason</label>
  </div>
  <div class="form-floating mb-3">
    {{ form.body }}
    <label for="body">Comments</label>
  </div>

  <button type="submit" class="form-floating mb-3">Submit</button>

</form>
{% endblock content %}