{% extends "base.html" %}
{% block head %}
<style type="text/css">
<!--
span.cls_002{font-family:Arial,serif;font-size:25.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:25.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:34.0px;color:rgb(0,134,222);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:34.0px;color:rgb(0,134,222);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:11.0px;color:rgb(34,31,31);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:11.0px;color:rgb(34,31,31);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:12.0px;color:rgb(0,134,222);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:12.0px;color:rgb(0,134,222);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:11.0px;color:rgb(0,134,222);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:11.0px;color:rgb(0,134,222);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:11.0px;color:rgb(34,31,31);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:11.0px;color:rgb(34,31,31);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:11.0px;color:rgb(34,31,31);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:11.0px;color:rgb(34,31,31);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="0ae32ad8-05df-11ec-a980-0cc47a792c0a_id_0ae32ad8-05df-11ec-a980-0cc47a792c0a_files/wz_jsgraphics.js"></script>
  
{% endblock head %}
{% block content %}
<body>
<div style="position:absolute;left:50%;margin-left:-306px;top:80px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="0ae32ad8-05df-11ec-a980-0cc47a792c0a_id_0ae32ad8-05df-11ec-a980-0cc47a792c0a_files/background1.jpg" width=612 height=792></div>
<div style="position:absolute;left:111.23px;top:32.00px" class="cls_002"><span class="cls_002">MB</span><span class="cls_003">    Michal Bujalski</span></div>
<div style="position:absolute;left:202.96px;top:76.49px" class="cls_004"><span class="cls_004">Witham, ESS CM8</span></div>
<div style="position:absolute;left:325.51px;top:76.49px" class="cls_004"><span class="cls_004">michalbujalski22@gmial.com</span></div>
<div style="position:absolute;left:60.34px;top:117.48px" class="cls_005"><span class="cls_005">PROFESSIONAL</span></div>
<div style="position:absolute;left:185.97px;top:117.48px" class="cls_004"><span class="cls_004">An enthusiastic junior programmer who, through hard work, attention to detail</span></div>
<div style="position:absolute;left:93.43px;top:134.48px" class="cls_005"><span class="cls_005">SUMMARY</span></div>
<div style="position:absolute;left:185.97px;top:133.48px" class="cls_004"><span class="cls_004">and excellent organizational skills, contributes to the team's success. Clear</span></div>
<div style="position:absolute;left:185.97px;top:149.48px" class="cls_004"><span class="cls_004">understanding of web develop and web app and training in Python Django.</span></div>
<div style="position:absolute;left:185.97px;top:165.48px" class="cls_004"><span class="cls_004">Motivated to learn, develop and improve in Web industry. Knowledge of JIRA</span></div>
<div style="position:absolute;left:185.97px;top:181.47px" class="cls_004"><span class="cls_004">GitHub Profile </span><A HREF="https://github.com/thumbsupmike/">https://github.com/ThumbsUpMike</A> </div>
<div style="position:absolute;left:112.33px;top:222.47px" class="cls_005"><span class="cls_005">SKILLS</span></div>
<div style="position:absolute;left:215.96px;top:222.47px" class="cls_004"><span class="cls_004">Performance Evaluation and</span></div>
<div style="position:absolute;left:412.93px;top:222.47px" class="cls_004"><span class="cls_004">HTML and XML</span></div>
<div style="position:absolute;left:215.96px;top:238.46px" class="cls_004"><span class="cls_004">Optimization</span></div>
<div style="position:absolute;left:412.93px;top:238.46px" class="cls_004"><span class="cls_004">Teamwork and Collaboration</span></div>
<div style="position:absolute;left:215.96px;top:254.46px" class="cls_004"><span class="cls_004">Eagerness to Learn New</span></div>
<div style="position:absolute;left:412.93px;top:254.46px" class="cls_004"><span class="cls_004">Flexible and Adaptable</span></div>
<div style="position:absolute;left:215.96px;top:270.46px" class="cls_004"><span class="cls_004">Technologies</span></div>
<div style="position:absolute;left:412.93px;top:270.46px" class="cls_004"><span class="cls_004">JIRA software</span></div>
<div style="position:absolute;left:215.96px;top:286.45px" class="cls_004"><span class="cls_004">Source and Version Control: Git,</span></div>
<div style="position:absolute;left:215.96px;top:302.45px" class="cls_004"><span class="cls_004">Bitbucket</span></div>
<div style="position:absolute;left:215.96px;top:318.45px" class="cls_004"><span class="cls_004">Python Django</span></div>
<div style="position:absolute;left:215.96px;top:334.45px" class="cls_004"><span class="cls_004">Testing and maintenance</span></div>
<div style="position:absolute;left:61.33px;top:375.44px" class="cls_005"><span class="cls_005">WORK HISTORY</span></div>
<div style="position:absolute;left:185.97px;top:375.44px" class="cls_006"><span class="cls_006">JUNIOR SOFTWARE DEVELOPER</span></div>
<div style="position:absolute;left:471.22px;top:375.44px" class="cls_007"><span class="cls_007">02/2020 to CURRENT</span></div>
<div style="position:absolute;left:185.97px;top:396.44px" class="cls_008"><span class="cls_008">TNT IT LTD | Chelmsford</span></div>
<div style="position:absolute;left:215.96px;top:417.43px" class="cls_004"><span class="cls_004">Quickly learned new skills and applied them to daily tasks, improving</span></div>
<div style="position:absolute;left:215.96px;top:433.43px" class="cls_004"><span class="cls_004">efficiency and productivity.</span></div>
<div style="position:absolute;left:215.96px;top:449.43px" class="cls_004"><span class="cls_004">Coded websites using HTML, Python, some JS languages.</span></div>
<div style="position:absolute;left:215.96px;top:465.42px" class="cls_004"><span class="cls_004">Planned website development, converting mockups into usable web</span></div>
<div style="position:absolute;left:215.96px;top:481.42px" class="cls_004"><span class="cls_004">presence with HTML, AJAX and JSON coding.</span></div>
<div style="position:absolute;left:215.96px;top:497.42px" class="cls_004"><span class="cls_004">Researched and developed new technology designs.</span></div>
<div style="position:absolute;left:215.96px;top:513.42px" class="cls_004"><span class="cls_004">Work with team of 4 of developers and discussed issues in order to</span></div>
<div style="position:absolute;left:215.96px;top:529.41px" class="cls_004"><span class="cls_004">provide resolution and apply best practices</span></div>
<div style="position:absolute;left:185.97px;top:555.41px" class="cls_006"><span class="cls_006">EXCAVATOR OPERATOR</span></div>
<div style="position:absolute;left:485.30px;top:555.41px" class="cls_007"><span class="cls_007">05/2015 to 01/2020</span></div>
<div style="position:absolute;left:185.97px;top:576.40px" class="cls_008"><span class="cls_008">Danbury Plant Hire | Danbury</span></div>
<div style="position:absolute;left:215.96px;top:597.40px" class="cls_004"><span class="cls_004">Drove construction equipment to excavate and grade land on road beds.</span></div>
<div style="position:absolute;left:215.96px;top:613.40px" class="cls_004"><span class="cls_004">Checked to make sure that all trenches were excavated to correct depth.</span></div>
<div style="position:absolute;left:215.96px;top:629.40px" class="cls_004"><span class="cls_004">Followed markers, work instructions and hand signals to complete</span></div>
<div style="position:absolute;left:215.96px;top:645.39px" class="cls_004"><span class="cls_004">accurate work.</span></div>
<div style="position:absolute;left:215.96px;top:661.39px" class="cls_004"><span class="cls_004">Employed safe digging practices in line with machine capabilities and</span></div>
<div style="position:absolute;left:215.96px;top:677.39px" class="cls_004"><span class="cls_004">limitations to prevent hazards.</span></div>
<div style="position:absolute;left:215.96px;top:693.38px" class="cls_004"><span class="cls_004">Implemented strict safety measures on job sites, reducing accidents.</span></div>
<div style="position:absolute;left:84.56px;top:734.38px" class="cls_005"><span class="cls_005">EDUCATION</span></div>
<div style="position:absolute;left:185.97px;top:734.38px" class="cls_008"><span class="cls_008">Associate of Science</span><span class="cls_004"> | Computer Science And Programming</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:802px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="0ae32ad8-05df-11ec-a980-0cc47a792c0a_id_0ae32ad8-05df-11ec-a980-0cc47a792c0a_files/background2.jpg" width=612 height=792></div>
<div style="position:absolute;left:185.97px;top:32.50px" class="cls_008"><span class="cls_008">Profiled College, Siedlce</span></div>
</div>

</body>
{% endblock content %}